@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  /* Nav CSS */
  nav li {
    @apply pl-2 py-1 mb-1 space-x-2 rounded-r-3xl;
  }

  nav li:hover {
    @apply text-teal-700 rounded-l-3xl rounded-r-none;
  }

  nav li .icon {
    @apply text-slate-200 p-2 mr-2 rounded-full bg-teal-700;
  }
}

li:hover,
.search-bar {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
